@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("./bG.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: blur(5px);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgb(240, 202, 240) transparent;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

label {
  display: block;
  margin-bottom: 10px;
  color:rgb(235, 225, 235) ;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
  color:rgb(150, 68, 150);
}

input[type="button"],
input[type="reset"],
input[type="button1"]
 {
  padding: 5px 10px;
  background-color: rgb(150, 68, 150);
  border: none;
  color: #ffffff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="button1"]:hover
 {
  background-color: rgb(138, 7, 138);
}
#hasil {
  margin-top: 20px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  color: rgb(150, 68, 150);
}

